body {


    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: space-around;
}

.logo {
    width: 12%;
    margin-top: 20PX;
}

.num-hours {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}



.fa-solid,
.fa-clock {
    font-size: 2rem;
    color: red;
    vertical-align: text-top;
    margin-top: 0;


}

li {
    list-style: none;
    font-weight: 700;
    margin-left: 20px;

}

.nums {
    text-decoration: none;
    color: black
}

.hour {
    display: block;
    color: gray;
    font-size: 14px;
    line-height: 0;
    text-align: flex-start;
    margin-left: -20px;
    font-weight: 400;
}

.clock {
    margin-left: -55px;
    display: block;
    color: gray;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
}


#main-manu {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    
}

.nav-bar {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-li {
    margin-right: 35px;
    font-size: 1.2rem;
    padding: 20px;
    

}

li a {
    text-decoration: none;
    color: white;
}

.main-image {
    background-image: url("../images/social-club.jpg");
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.welcome-txt {
    margin-top: 61px;
    font-size: 1.5rem;
    background-color: white;
    padding: 0 10px;
    opacity: 0.8;
    text-align: center;
    line-height: 100px;
}

#about {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin:100px 0px;
}
.club-history{
    word-spacing: 2px;
    line-height: 35px;
 
}
.description {
    font-size: 3rem;
    font-weight: 900;
    line-height: 50px;
}
.year {
    color: red;
    font-weight: bold;
}
.vanue-to-hire {
    margin-top: 50px;
    text-align: center;
    background-color: lightgray;
    font-size: xx-large;
    padding-top: 50px;
    font-weight: 700;
    
    
}
.event-image {
    margin-right: 50px;
    font-size: 1.5rem
}
#hire-club {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.hiring-condition {
    border: 1px solid white;
    background-color: white;
    margin-bottom: 30px;
    font-size: 1.25rem;
    padding: 30px;
    text-align: left;
}
.time-price {
    font-weight: 900;
}
.events {
    font-weight: 300;
}
.entertainment {
    color: red;
    font-weight: 300;
    font-size: 1.2rem;
}
.booking-button {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    padding:20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
}
.booking-button:hover {
    border: 1px solid brown;
    background-color: brown;
    color: white;
    cursor: pointer;
}

